.git
.gitignore
.env
.env.*
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/framework/telescope/*
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
Thumbs.db
